version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  plugins = ["react"]
  environment = ["browser", "node"]

[exclude_patterns]
paths = ["dist/**", "node_modules/**", "coverage/**", "*.min.js"]
